@tailwind base;
@tailwind components;
@tailwind utilities;




@layer utilities {
  .custom-app-bg {
    background-color: #0f172a;
    /* Fallback color */
    background-image:
      linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
      linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);
    background-size: 20px 20px;
  }
}